apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 024955634588.dkr.ecr.eu-north-1.amazonaws.com/frontend:latest
        ports:
        - containerPort: 80 
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
    imagePullSecrets:
      - name: aws-ecr-cred        
            

      