apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: staging
spec:
  replicas: 1   
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: 024955634588.dkr.ecr.eu-north-1.amazonaws.com/notification_service:latest
        ports:
        - containerPort: 8005
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
