apiVersion: apps/v1
kind: Deployment
metadata:
  name: staff-management
  namespace: production
spec:
  replicas: 1   
  selector:
    matchLabels:
      app: staff-management
  template:
    metadata:
      labels:
        app: staff-management
    spec:
      imagePullSecrets:
      - name: aws-ecr-cred
      containers:
      - name: staff-management
        image: 024955634588.dkr.ecr.us-east-1.amazonaws.com/staff_management:d77fdfa8-20251214185501
        ports:
        - containerPort: 8003
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        env:
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: JWT_SECRET_KEY
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_PASSWORD
