apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-management
  namespace: production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-management
  template:
    metadata:
      labels:
        app: service-management
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: service-management
        image: 024955634588.dkr.ecr.us-east-1.amazonaws.com/service_management:latest
        ports:
        - containerPort: 8002
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        env:
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: JWT_SECRET_KEY
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: DB_PASSWORD
